@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap');

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "luxcar";
  default: true;


  --color-primary: #F5A524;
  --color-secondary: #E5E5E5;
  --color-accent: #FEEBC8;


  --color-base-100: #121212;
  --color-base-200: #1C1C1C;
  --color-base-300: #2A2A2A;
  --color-neutral: #E5E5E5;


  --color-info: #3ABFF8;
  --color-success: #36D399;
  --color-warning: #FBBD23;
  --color-error: #F87272;
  
  --rounded-box: 1rem;
  --animation-btn: 0.25s;
}


[data-theme="luxcar-light"] {

  --color-primary: #F5A524;       
  --color-secondary: #1E1E1E;     
  --color-accent: #FEEBC8;        


  --color-base-100: #F5F5DC;      
  --color-base-200: #FAF9F0;      
  --color-base-300: #FFF9E6;      
  --color-neutral: #1E1E1E;       
  --color-gray-400: #4B5563;      

  
  --color-info: #3B82F6;          
  --color-success: #16A34A;       
  --color-warning: #FBBF24;       
  --color-error: #EF4444;         

  
  --rounded-box: 1rem;
  --animation-btn: 0.25s;
}

.btn-primary:hover {
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 0 20px rgba(245, 165, 36, 0.6);
  transition: all 0.25s ease-in-out;
}

* {
  font-family: "Orbitron", sans-serif;
}

p {
  font-family: "Faustina", serif;
}
